{% extends 'base.html.twig' %}

{% block title %}Новая покупка{% endblock %}

{% block body %}
    <div class="container select2-container">
        <div class="row">
            <div class="col-sm-6">
                {{ form_start(purchase) }}
                <p>{{ form_row(purchase.tradePoint) }}</p>
                <p>{{ form_row(purchase.commission) }}</p>
                <p>{{ form_row(purchase.salesReceipt) }}</p>
                <p>{{ form_row(purchase.date) }}</p>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10">
                            {{ form_row(purchase.save_and_add) }}
                            {{ form_row(purchase.save) }}
                        </div>
                    </div>
                </div>
                {{ form_end(purchase) }}
            </div>
        </div>
    </div>
{% endblock %}