{% extends 'base.html.twig' %}

{% block title %}Новый пользователь{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                {{ form_start(user) }}
                <p>{{ form_row(user.realName) }}</p>
                <p>{{ form_row(user.username) }}</p>
                <p>{{ form_row(user.role) }}</p>
                <p>{{ form_row(user.PLOTNumber) }}</p>
                <p>{{ form_row(user.plainPassword.first) }}</p>
                <p>{{ form_row(user.plainPassword.second) }}</p>
                <p>{{ form_row(user.isActive) }}</p>
                <hr>
                <div class="container">
                    <div class="row">
                        {{ form_row(user.save) }}
                        <div style="margin: 1rem"><a href="/users_list" class="btn btn-secondary">Назад</a></div>
                    </div>
                </div>
                {{ form_end(user) }}
            </div>
        </div>
    </div>

{% endblock %}